body {
    padding: 0;
    margin: 0;
    height: 150vh;
    text-align: center;
}

h1 {
    display: flex;
    text-align: center;
    justify-content: center;
}

.timer {
    display: flex;
    justify-content: flex-end;
    padding-right: 80px;
    margin: 10px;
    font-weight: bold;
}

.button-timer {
    background-color: red;
    padding: 12px;
}

button {
    display: inline-block;
    text-align: center;
    justify-content: center;
    font-size: auto;
}

.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
}

.questions-container {
    background-color: antiquewhite;
    color: black;
    margin: 15px
}

.question-box {
    margin: 15px;
    padding: 10px;
    background-color: white;
    text-align: center;
    width: 90vw;
    height: 40vh;
    font-size: large;
}

.hide {
    display: none;
}

.button-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 15px;
    padding: 10px;
    height: 20vh;
    background-color: antiquewhite;
}

.choices {
    width: 50vh;
    height: 10vh;
    font-size: large;
    
}

.choices:hover {
    background-color: aquamarine;
}